.header__button{
  position: absolute;
  background-color: unset;
  width: 168px;
  height: 64px;
  border: 0px;
  padding: 15px;
  border-radius: 30px;
  right: 0;
  top: 0;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.5rem;
  background-color: #2F71E5;
  color: #fff;
  outline: none !important;
}

@media (min-width: 768px) and (max-width: 1439px){
  .header__button{
    background-color: unset;
    width: 160px;
    height: 56px;
    border: 0px;
    padding: 15px;
    font-size: 18px;
    line-height: 24px;
    background-color: #2F71E5;
    color: #fff;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
.header__button{
  position: static;
  margin-top: 16px;
  width: 100%;
  background-color: #2F71E5;
  color: #fff;
}
}