.header__logo {
  align-self: flex-start;
  max-width: 176px;
  font-style: normal;
  font-weight: bold;
  font-size: 1.25rem;
  line-height: 1.5rem;
  z-index: 1;
}

.header__logo.active{
  color: #fff;
  transition: all 0.4s ease-in 0s;
}