.header-article__container{
  display: flex;
  justify-content: space-between;
}
.header-article__logo {
  align-self: flex-start;
  max-width: 176px;
  font-style: normal;
  font-weight: bold;
  font-size: 1.25rem;
  line-height: 1.5rem;
  color: #1A1B22;
}

.header-article__links {
  align-self: flex-end;
  margin-top: 20px;
  margin-bottom: 20px;
}

.header-article__link {
  margin-right: 32px;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 1.5rem;
  text-align: right;
  /* text-decoration-line: none; */
  color: #1A1B22;
  font-style: normal;
  background-color: unset;
}
.header-article__link-rounded{
  background-image: url('../../images/logout.jpg');
  background-repeat: no-repeat;
  background-position: right;
  border: 1px solid #1A1B22;
  border-radius: 20px;
  padding: 5px;
}

.header-article__name{
  margin-top: 40px;
  margin-bottom: 28px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 1.125rem;
  line-height: 1.5rem;
  color: #B6BCBF;
}

.header-article__title{
  font-family: Roboto Slab;
  font-style: normal;
  font-weight: normal;
  font-size: 2.5rem;
  line-height: 2.875rem;
}

.header-article__subtitle{
  margin-bottom: 56px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 1.125rem;
  line-height: 1.5rem;
}