.place-card__tooltip{
  position: absolute;
  top: 18px;
  right: 60px;
  border-radius: 10px;
  background-color: #fff;
}

.place-card__tooltip-name{
  margin: 8px 15px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 0.9rem;
  line-height: 1.5rem;
  text-align: center;
}

@media (min-width: 320px) and (max-width: 767px) {
  .place-card__tooltip{
    display: none;
  }
}