@import './__container/author__container.css';
@import './__description/author__description.css';

.author{
  padding-top: 80px;
  padding-bottom: 80px;
}

@media (min-width: 320px) and (max-width: 767px){
  .author{
    padding-top: 30px;
    padding-bottom: 30px;
  }
}