@import url(./__image/place-card__image.css);
@import url(./__delete-icon/place-card__delete-icon.css);
@import url(./__description/place-card__description.css);
@import url(./__name/place-card__name.css);
@import url(./__time/place-card__time.css);
@import url(./__source/place-card__soure.css);
@import url(./__category/place-card__category.css);
@import url(./__tooltip/place-card__tooltip.css);
@import url(./__show-more/__show-more.css);
@import url(./__save-icon/place-card__save-icon.css);

.place-card {
  max-width: 100%;
  background-color: #fff;
  border-radius: 10px;
}
