.header__title{
  max-width: 540px;
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: normal;
  font-size: 3.75rem;
  line-height: 4rem;
}

@media (min-width: 768px) and (max-width: 1439px){
  .header__title{
    margin: 0;
    width: 385px;
    font-size: 2.25rem;
    line-height: 2.5rem;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .header__title{
    max-width: 100%;
    font-size: 2.25rem;
    line-height: 2.5rem;
  }
}