@import './__copyright/footer__copyright.css';
@import './__group/footer__group.css';

.footer__container{
  display: flex;
  justify-content: space-between;
}

@media (min-width: 320px) and (max-width: 767px) {
  .footer__container{
    display: flex;
    flex-direction: column-reverse;
    padding-top: 20px;
  }
}