.place-card__save-icon {
  border: none;
  width: 40px;
  height: 40px;
  border-radius: 10px;
  padding: 0px;
  position: absolute;
  top: 18px;
  right: 15px;
  cursor: pointer;
}

.place-card:hover .place-card__save-icon {
  display: block;
}
