@import '../vendor/fonts.css';
@import '../vendor/normalize.css';
@import './header/_header.css';
@import './footer/_footer.css';
@import './popup/popup.css';
@import './author/author.css';
@import './place-card/place-card.css';
@import './cards/cards.css';

*{
  box-sizing: border-box;
}
body{
  margin: 0px;
}

.border{
  text-decoration-line: underline;
}

.container{
  width: 1232px;
  margin: 0px auto;
}

@media (min-width: 768px) and (max-width: 1440px){
  .container{
    max-width: calc(100% - 80px);
    margin: 0px auto;
  }
}

@media (min-width: 320px) and (max-width: 768px) {
  .container{
    max-width: calc(100% - 32px);
    margin: 0px auto;
  }
}