@media (min-width: 768px) and (max-width: 1440px) {
  .footer__box {
    display: flex;
    justify-content: space-between;
    margin-left: 10px;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .footer__box {
    display: flex;
    flex-direction: column;
  }
}