@import './__container/header__container.css';
@import './__logo/header__logo.css';
@import './__menu/header__menu.css';
@import './__burger/header__burger.css';
@import './__box/header__box.css';

.header {
  background-image: url('../../images/georgia-de-lotz--UsJoNxLaNo-unsplash.jpg');
  z-index: 3;
}

.article{
  color: #1A1B22;
}